.youtube{
    color: rgb(27, 186, 13);
    background-color: rgb(0, 0, 0);
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

a{
    color: rgb(231, 22, 19) !important ; 
    font-size: larger;
}

h1 {
    
    flex: auto;
    text-align: center;
    background-color: rgb(102, 16, 16);
    border: 15px solid yellow;
    
    
}
span{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    padding: 5px;
    margin-top: 100px;
    
}